* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f7e1d7;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-weight: bolder;
  color: #003049;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.form {
  width: 500;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 10px;
}

.form-row {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e2e8f0;
  background: #f8fafc;
  border-radius: 4px;
  cursor: pointer;
}
